.home-bg {
  background-color: white;
}


body {
  font-family:'IBM Plex Sans', sans-serif !important;
  background-color: rgba(255, 0, 0, 0.0) !important;
}

.pink a {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255, 147, 147, 0.3) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  line-height: 1em;
  text-decoration: none;
  transition: background-position 0.1s ease-out;
}

.yellow a {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255, 226, 147, 0.5) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  line-height: 1em;
  text-decoration: none;
  transition: background-position 0.1s ease-out;
}

a:hover {
  background-position: -99.99% 0;
}

.container {
  background-color: rgba(255, 0, 0, 0.0) !important;
}

.fixed-arrow {
  position: absolute;
  bottom: 25px;
  left: 49%;
  align: center;
}

div .landing {
  height: 100vh;
}

.big {
  font-size: 20px;
}

.footer {
  font-size: 12px;
  color: rgb(137, 137, 137);
  margin-bottom: 50px;
}



div#work {

}

div#about{

}

div#resume {

}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
